body{
    
    background-color: #87B5B5;
   
}
.center {
    width: 100%;
    display: flex;
    justify-content: center;
}

.editor-container {
    margin-top: 1.5em;
    width: 70%;
    height: 200px;
    background-color: purple;
    margin-bottom: 2em;
}

.preview {
    width: 90%;
    height: 200px;
    background-color: purple;
}
