body{
    
    background-color: #87B5B5;
   
}
.center {
    width: 100%;
    display: flex;
    justify-content: center;
}

.editor-container {
    margin-top: 1.5em;
    width: 70%;
   
    background-color: purple;
    margin-bottom: 2em;
}

#preview {
    width: 85%;
    background-color: purple;
}

#editor{
    width: 98.8%;
}

@media only screen and (min-width: 800px) {
    .editor-container{
        width: 40%;
    }
    .preview{
        width: 60%;
    }
}